@import "tailwindcss";

:root {
  --background: #fcf6ee;
  --foreground: #061322;

  --surface: #061322;
  --on-surface: #fcf6ee;
  --links: #e8e2d9;

  --accent: #d4af37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-links: var(--links);

  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);

  --color-accent: var(--accent);

  
   --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101418;
    --foreground: #ededed;

    --surface: #0d1a24;
    --on-surface: #ffffff;
    --links: #d4d0ca;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
 
}
